@media (min-width: 767px) {
  .news_info {
    padding-top: 30px;
  }
  .news_info_section {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .news_info_section_detail {
    padding-top: 10px;
    width: 830px;
  }
  .news_info_section_detail_title {
    font-size: 30px;
    color: #202020;
    font-weight: bold;
    line-height: 120%;
    padding: 10px 0;
  }
  .news_info_section_detail_main {
    line-height: 36px;
  }
  .news_info_section_detail_main p {
    font-size: 18px;
    color: #1b1b1b;
    line-height: 36px;
    text-indent: 2em;
    padding-top: 24px;
  }
  .news_info_section_detail_video,
  .news_info_section_detail_news {
    margin-top: 45px;
  }
  .news_info_section_detail_video_title,
  .news_info_section_detail_news_title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 14px;
  }
  .news_info_section_detail_video ul,
  .news_info_section_detail_news ul {
    list-style-type: none;
  }
  .news_info_section_tuijian {
    width: 330px;
  }
  .news_info_section_detail_time {
    padding: 15px 0;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin: 8px 0 6px;
    position: relative;
    font-size: 16px !important;
    color: #747774 !important;
    padding-right: 20px;
    line-height: 24px;
  }
  .news_info_section_tuijian_title {
    position: relative;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 0 -63px;
    margin-bottom: 20px;
  }
  .news_info_section_tuijian_list {
    list-style-type: none;
  }
  .news_info_section_tuijian_list_item {
    padding: 10px 0;
    height: 90px;
    box-sizing: border-box;
  }
  .news_info_section_tuijian_list_item a {
    display: flex;
    height: 70px;
    width: 100%;
  }
  .news_info_section_tuijian_list_item a img {
    width: 100px;
    height: 70px;
    object-fit: cover;
  }
  .news_info_section_tuijian_list_item_main {
    padding-left: 15px;
    padding-top: 2px;
    line-height: 22px;
    height: 66px;
    font-size: 16px;
    color: #000;
  }
  .news_info_section_tuijian_list_item a:hover .news_info_section_tuijian_list_item_main {
    color: #D40300;
  }
}
@media (max-width: 767px) {
  .news_info_section_detail {
    margin-top: -0.4rem;
  }
  .news_info_section_detail_header {
    padding: 0.4rem 0.27rem 0;
    background: #fff;
  }
  .news_info_section_detail_title {
    font-size: 0.4rem;
    line-height: 0.6rem;
    margin-bottom: 0.2rem;
  }
  .news_info_section_detail_time {
    font-size: 0.24rem;
    line-height: 0.48rem;
    color: #c8c8c8;
  }
  .news_info_section_detail_main {
    padding: 0.68rem 0.27rem 0;
    background: #fff;
    font-size: .34rem;
    line-height: .54rem;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  .news_info_section_detail_main p {
    margin-bottom: 0.3rem;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    text-indent: 2em;
  }
  .news_info_section_detail_main p img {
    max-width: 100% !important;
    height: auto !important;
    border-radius: 0.1rem;
    display: block;
  }
  .news_info_section_detail_video,
  .news_info_section_detail_news {
    margin-top: 0.2rem;
    background: #fff;
    padding: 0.27rem 0.27rem 0;
  }
  .news_info_section_detail_video ul,
  .news_info_section_detail_news ul {
    list-style-type: none;
  }
  .news_info_section_detail_video .news_info_section_detail_video_title,
  .news_info_section_detail_news .news_info_section_detail_news_title {
    height: 0.64rem;
    padding-left: 0.06rem;
    border-bottom: solid 0.06rem #ab0301;
    font-size: .38rem;
    line-height: .58rem;
    color: #ab0301;
  }
}